In [2]:
import pandas as pd

In [5]:
df_dict = pd.read_csv('dict.txt', delimiter = "\t")
df_color = pd.read_csv('cnum-vhcm-lab-new.txt', delimiter = "\t")

In [6]:
df_dict.head()
#WCSC is a unique abbreviation of the term

   #LNUM  TNUM        TRAN WCSC
0      1     1        lobu   LB
1      1     2        lofu   LF
2      1     3        lebe   LE
3      1     4        fwae    F
4      1     5  wãwanakoko   WK

In [7]:
df_color.head()

   #cnum  V  H  C     MunH  MunV     L*    a*    b*
0    141  A  0  0  10.00RP   9.5  96.00 -0.06  0.06
1    274  B  0  0  10.00RP   9.0  91.08 -0.05  0.06
2    129  B  1  2    2.50R   9.0  91.08  5.53  2.22
3    230  B  2  2    5.00R   9.0  91.08  5.51  3.28
4    302  B  3  2    7.50R   9.0  91.08  5.54  4.46

In [10]:
df.to_csv('colors.csv', index = None)